<%- contentFor('body') %>
<div class="max-w-3xl mx-auto mt-10">
    <div class="bg-white shadow-md rounded-lg p-6 mb-4">
        <h2 class="text-lg font-semibold mb-4">Amigos</h2>
        <ul class="list-none">
            <% friends.forEach(friend => { %>
                <li style="cursor: pointer;" class="flex items-center mb-4" onclick="loadMessages('<%= friend.friend.id %>', '<%= friend.friend.username %>', '<%= friend.friend.profilePicture || '/uploads/default.png' %>')">
                    <img src="<%= friend.friend.profilePicture || '/uploads/default.png' %>" alt="<%= friend.friend.username %>'s profile picture" class="w-10 h-10 rounded-full mr-3">
                    <h3 class="text-blue-500 hover:underline">
                        <%= friend.friend.username %>
                    </h3>
                </li>
            <% }) %>
        </ul>
    </div>

    <div id="messagesContainer" class="bg-white shadow-lg rounded-lg px-8 py-6 hidden">
        <h2 class="text-lg font-semibold mb-4">Chat con <span id="friendName" class="text-blue-500"></span></h2>
        <div id="messagesList" class="h-96 overflow-y-auto mb-4"></div>
        
        <form id="messageForm" onsubmit="sendMessage(event)" class="relative">
            <div class="w-full pl-3 pr-1 py-1 rounded-3xl border border-gray-200 items-center gap-2 inline-flex justify-between">
                <div class="flex items-center gap-2 flex-grow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                        <path d="M6.05 17.6C6.05 15.3218 8.26619 13.475 11 13.475C13.7338 13.475 15.95 15.3218 15.95 17.6M13.475 8.525C13.475 9.89191 12.3669 11 11 11C9.6331 11 8.525 9.89191 8.525 8.525C8.525 7.1581 9.6331 6.05 11 6.05C12.3669 6.05 13.475 7.1581 13.475 8.525ZM19.25 11C19.25 15.5563 15.5563 19.25 11 19.25C6.44365 19.25 2.75 15.5563 2.75 11C2.75 6.44365 6.44365 2.75 11 2.75C15.5563 2.75 19.25 6.44365 19.25 11Z" stroke="#4F46E5" stroke-width="1.6" />
                    </svg>
                    <input id="messageContent" class="w-full text-black text-xs font-medium leading-4 focus:outline-none" placeholder="Escribe aquí...">
                </div>
                <!-- <div class="flex items-center gap-2"> -->
                    <button type="submit" class="flex items-center px-3 py-2 bg-indigo-600 rounded-full shadow">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                            <path d="M9.04071 6.959L6.54227 9.45744M6.89902 10.0724L7.03391 10.3054C8.31034 12.5102 8.94855 13.6125 9.80584 13.5252C10.6631 13.4379 11.0659 12.2295 11.8715 9.81261L13.0272 6.34566C13.7631 4.13794 14.1311 3.03408 13.5484 2.45139C12.9657 1.8687 11.8618 2.23666 9.65409 2.97257L6.18714 4.12822C3.77029 4.93383 2.56187 5.33664 2.47454 6.19392C2.38721 7.0512 3.48957 7.68941 5.69431 8.96584L5.92731 9.10074C6.23326 9.27786 6.38623 9.36643 6.50978 9.48998C6.63333 9.61352 6.72189 9.7665 6.89902 10.0724Z" stroke="white" stroke-width="1.6" stroke-linecap="round" />
                        </svg>
                        <span class="text-white text-xs font-semibold leading-4 px-0.5"></span>
                    </button>
                <!-- </div> -->
            </div>
        </form>
    </div>
</div>

<script>
const userId = parseInt('<%= userId %>', 10);
let currentFriendId;
let currentUserProfilePicture = '<%= currentUser.profilePicture || "/uploads/default.png" %>';
let currentFriendProfilePicture;
let currentFriendname;

function loadMessages(friendId, friendUsername, friendProfilePicture) {
    currentFriendId = friendId;
    currentFriendProfilePicture = friendProfilePicture;
    currentFriendname=friendUsername;
    document.getElementById('friendName').innerText = friendUsername;
    document.getElementById('messagesContainer').classList.remove('hidden');
    const socket = io();
    socket.emit('join', friendId);
    
    fetch(`/chat/messages/${friendId}`)
        .then(response => response.json())
        .then(messages => {
            const messagesList = document.getElementById('messagesList');
            messagesList.innerHTML = '';
            messages.forEach(message => {
                const messageElement = document.createElement('div');
                messageElement.classList.add('mb-4');
                
                if (message.senderId === userId) {
                    messageElement.innerHTML = `
                        <div class="flex gap-2.5 justify-end">
                            <div class="">
                                <div class="grid mb-2">
                                    <h5 class="text-right text-gray-900 text-sm font-semibold leading-snug pb-1">Tú</h5>
                                    <div class="px-3 py-2 bg-indigo-600 rounded">
                                        <h2 class="text-white text-sm font-normal leading-snug">${message.content}</h2>
                                    </div>
                                    <div class="justify-start items-center inline-flex">
                                        <h3 class="text-gray-500 text-xs font-normal leading-4 py-1">${new Date(message.created_at).toLocaleTimeString()}</h3>
                                    </div>
                                </div>
                            </div>
                            <img src="${currentUserProfilePicture}" alt="Your profile picture" class="w-10 h-10 rounded-full">
                        </div>
                    `;
                } else {
                    messageElement.innerHTML = `
                        <div class="flex gap-2.5 mb-4">
                            <img src="${currentFriendProfilePicture}" alt="${friendUsername}'s profile picture" class="w-10 h-10 rounded-full">
                            <div class="grid">
                                <h5 class="text-gray-900 text-sm font-semibold leading-snug pb-1">${friendUsername}</h5>
                                <div class="w-max grid">
                                    <div class="px-3.5 py-2 bg-gray-100 rounded justify-start items-center gap-3 inline-flex">
                                        <h5 class="text-gray-900 text-sm font-normal leading-snug">${message.content}</h5>
                                    </div>
                                    <div class="justify-end items-center inline-flex mb-2.5">
                                        <h6 class="text-gray-500 text-xs font-normal leading-4 py-1">${new Date(message.created_at).toLocaleTimeString()}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    `;
                }
                messagesList.appendChild(messageElement);
            });
            messagesList.scrollTop = messagesList.scrollHeight;
        })
        .catch(error => {
            console.error('Error fetching messages:', error);
        });
}

function sendMessage(event) {
    event.preventDefault();
    const content = document.getElementById('messageContent').value;

    fetch('/chat/send', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ recipientId: currentFriendId, content })
    })
    .then(response => response.json())
    .then(data => {
        document.getElementById('messageContent').value = '';
        loadMessages(currentFriendId, currentFriendname, currentFriendProfilePicture);
    });
}

// Configuración de WebSocket


</script>